.bg-aqua-blue {
  background-color: #45b2d5;
}

.bg-lavender-grey {
  background-color: #f3eaf4;
}

.text-dark-navy {
  color: #3a405a;
}

.text-light-grey {
  color: #838383;
}

.btn-navy {
  color: #fff;
  background-color: #3a405a;
  border-color: #3a405a;
}

.btn-navy:hover {
  color: #fff;
  background-color: #41486b;
  border-color: #41486b;
}

.section-header {
  border-bottom: 1px solid #838383;
}

.rounded-border-top {
  border-radius: 20px 20px 0 0;
}

.mobile-nav {
  border-top: 1px solid darkgrey;
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 80px;
  z-index: 2;
}

.main-content {
  min-height: 90vh;
}

.logo {
  width: 100%;
  max-width: 170px;
}

.book-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

.two-line-truncate {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.top-right {
  top: 0.25rem;
  right: 0.25rem;
}

.tiny-text {
  font-size: 0.7rem;
}

.preserve-whitespace {
  white-space: pre-wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-grow {
  transition: transform 0.1s ease-in;
}

.hover-grow:hover {
  transform: scale(1.01);
}

.fill-area {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.z-index-10 {
  z-index: 10;
}

.bg-shadow {
  background-color: rgba(0, 0, 0, 0.4);
}
