.bg-aqua-blue {
  background-color: #45b2d5;
}

.bg-lavender-grey {
  background-color: #f3eaf4;
}

.text-dark-navy {
  color: #3a405a;
}

.text-light-grey {
  color: #838383;
}

.section-header {
  border-bottom: 1px solid #838383;
}

.rounded-border-top {
  border-radius: 20px 20px 0 0;
}

.mobile-nav {
  border-top: 1px solid darkgrey;
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 80px;
  z-index: 2;
}

.main-content {
  min-height: 90vh;
}

.logo {
  width: 100%;
  max-width: 170px;
}

.book-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

.two-line-truncate {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
